

.productTile {
    @apply 
    font-NotoSansMono
    aspect-square 
    grid 
    grid-cols-1
    /* place-items-center  */
    border-2 
    border-neutral-800
    hover:border-4
    hover:border-slate-900
    hover:font-semibold
    
}

.detailsPositioning{
    @apply
    absolute 
    top-1/2  
    left-1/2 
    -translate-x-1/2 
    -translate-y-1/2
}