@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.delete-checkbox{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0.5rem;

    /* @apply 
    absolute
    top-0
    left-0
    m-2 */
}